<a href="https://colab.research.google.com/github/cdevrywhr/KNN/blob/main/KNN_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset**

In [ ]:
# melihat dataset yang telah tersedia 
# iris
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

**Data prepocessing**

In [ ]:
#membuat variable random number sebesar 90% dari total jumlah baris data
ran <- sample(1:nrow(iris),0.9*nrow(iris))

In [ ]:
#normalisasi data
ran_norm <- function(x){ (x-min(x)/(max(x)-min(x)))}

In [ ]:
# merubah menjadi dataframe
iris_norm <- as.data.frame(lapply(iris[,c(1,2,3,4)],ran_norm))

In [ ]:
summary(iris_norm)

  Sepal.Length    Sepal.Width     Petal.Length     Petal.Width
 Min.   :3.106   Min.   :1.167   Min.   :0.8305   Min.   :0.05833
 1st Qu.:3.906   1st Qu.:1.967   1st Qu.:1.4305   1st Qu.:0.25833
 Median :4.606   Median :2.167   Median :4.1805   Median :1.25833
 Mean   :4.649   Mean   :2.224   Mean   :3.5885   Mean   :1.15767
 3rd Qu.:5.206   3rd Qu.:2.467   3rd Qu.:4.9305   3rd Qu.:1.75833
 Max.   :6.706   Max.   :3.567   Max.   :6.7305   Max.   :2.45833

**Split data train dan test**

In [ ]:
iris_train <- iris_norm[ran,]

In [ ]:
iris_test <- iris_norm[-ran,]

In [ ]:
iris_target_category <- iris[ran,5]

In [ ]:
iris_test_category <- iris[-ran,5]

**Predict**

In [ ]:
install.packages("class")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(class)

In [ ]:
# predict
predict <- knn(iris_train,iris_test,cl=iris_target_category,k=13)
predict

 [1] setosa     versicolor versicolor versicolor versicolor versicolor
 [7] versicolor virginica  virginica  virginica  virginica  virginica
[13] virginica  virginica  virginica
Levels: setosa versicolor virginica

In [ ]:
# confusion matrix
tab <- table(predict,iris_test_category)
tab

            iris_test_category
predict      setosa versicolor virginica
  setosa          1          0         0
  versicolor      0          6         0
  virginica       0          0         8

In [ ]:
# akurasi prediksi
acc <- function(x){sum(diag(x)/(sum(rowSums(x))))*100}
acc(tab)

[1] 100